$light-color:#ffffff;
$dark-color:#000;
$blue-color: #0cf;
$purple-color:#7C73C0;
$dark-blue:#283583;
$orange-red:rgb(233, 66, 6);
$orange:#eb5b49;
$grey-color:#818182;
$dark-grey-color:#929292;
$light-green:#E8FFCE;
$danger:red;
$success:green
